<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home.html') }}">Home</a></li>
          <li><a href="{{ url_for('information.html') }}">information</a></li>
          <li><a href="{{ url_for('contact.html') }}">Contact</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
            <li><a href="{{ url_for('login.html') }}">Log In</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>&copy; My Website 2023</p>
    </footer>
  </body>
</html>
