<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">
</head>
<body>
    <!-- Main heading -->
    <h1>Contact</h1>
    <!-- Secondary heading -->
    <h2>Contact Claire Today!</h2>
    <!-- Table -->
    <table>
        <tr>
            <th>Contact Information</th>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>202-961-6020</td>
            <td>980-234-2345</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><a href = "mailto: claire.lindstrom@outlook.com">claire.lindstrom@outlook.com</a></td>
            <td>clairelindstrom92@gmail.com</td>
        </tr>
                <tr>
            <td>Socials:</td>
            <td>[IG] @goddessmoonraven</a></td>
            <td>[tiktok] @etherealcastles</td>
        </tr>
                <tr>
            <td>Address:</td>
            <td>1600 Pennsylvania Avenue NW, Washington, DC 20500</td>
            <td>8800 Greenbelt Rd, Greenbelt, MD 20771</td>
        </tr>
    </table>
</body>
</html>
